<%= link_to movie_path(movie) do %>
    <div class="movie mr-2 rounded-sm p-4" style="background-image: url(<%= image_path 'dummy_poster.png' %>)">
        <h4 class="text-xl text-white font-bold"><%= movie.title %></h4>
        <p class="text-white text-sm">Duration:<%= movie.duration %></p>
    </div>
<% end %>